[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/aoguedao/math685_numerical_analysis/blob/main/assignments/computer-project-01.ipynb)

# MATH685 - Mid Term Exam

_Alonso Ogueda_

In [2]:
import numpy as np
import pandas as pd

## Question 1

### 1.a

In [18]:
def q01a_method(f, df, x0, x1, tol=1e-8):

    h = lambda f, df, x0, x1: (df(x1) * f(x0)) / (f(x0) - f(x1))
    g = lambda f, x0, x1: f(x1) / (x1 - x0)

    output = (
        pd.DataFrame(
            [
                [x0, np.nan],
                [x1, np.nan]
            ],
            columns=["x_k", "difference"]
        )
        .rename_axis("k")
    )
    k = 2
    converge = False
    while not converge:
        delta = f(x1) / (h(f, df, x0, x1) + g(f, x0, x1))
        x = x1 - delta
        output.loc[k] = [x, np.abs(delta)]
        if np.abs(delta) < tol:
            converge = True
        else:
            x0 = x1
            x1 = x
            k += 1
    return output

In [24]:
f_01a = lambda x: x ** 3 + x - 1
df_01a = lambda x: 3 * x ** 2 + 1
x0_01a = 100
x1_01a = 90
tol_01a = 1e-8
q01a_method(f_01a, df_01a, x0_01a, x1_01a, tol_01a)

           x_k    difference
k
0   100.000000           NaN
1    90.000000           NaN
2    46.519686  4.348031e+01
3    27.216213  1.930347e+01
4    15.579733  1.163648e+01
5     8.941197  6.638536e+00
6     5.108989  3.832208e+00
7     2.894030  2.214959e+00
8     1.616809  1.277221e+00
9     0.930964  6.858449e-01
10    0.698307  2.326577e-01
11    0.682348  1.595835e-02
12    0.682328  2.063662e-05
13    0.682328  2.133995e-12

### 1.b

In [20]:
def newton_method(f, df, x0, tol=1e-8, iterations=1000):
    """Newton's Method Solver

    It finds a solution to f(x)=0 given an initial guess x0

    Parameters
    ----------
    f : function
        Function to evaluate
    df: function
        Derivate of the function 
    x0: float
        Initial guess
    tol: float, optional
        Tolerance, by default 1e-8
    iteration: int, optional
        Maximum number of iterations
    """
    output = pd.DataFrame(columns=["x_k", "difference"]).rename_axis("k")
    output.loc[0] = [x0, np.nan]
    
    k = 1
    converge = False
    while (not converge) and (k <= iterations):
        delta =  f(x0) / df(x0)
        x = x0 - delta
        output.loc[k] = [x, np.abs(delta)]
        if np.abs(delta) < tol:
            converge = True
        else:
            x0 = x
        k += 1
    return output

In [25]:
newton_method(f_01a, df_01a, x0_01a, tol_01a)

           x_k    difference
k
0   100.000000           NaN
1    66.664478  3.333552e+01
2    44.439727  2.222475e+01
3    29.621654  1.481807e+01
4    19.740650  9.881004e+00
5    13.150040  6.590609e+00
6     8.751751  4.398289e+00
7     5.813552  2.938199e+00
8     3.847616  1.965936e+00
9     2.530614  1.317002e+00
10    1.653082  8.775314e-01
11    1.090960  5.621228e-01
12    0.786969  3.039904e-01
13    0.690972  9.599692e-02
14    0.682391  8.581112e-03
15    0.682328  6.341679e-05
16    0.682328  3.435054e-09

### 1.c

In [26]:
def q01c_method(f, df, x0, x1, r, tol=1e-8):

    h = lambda f, df, x0, x1: (df(x1) * f(x0)) / (f(x0) - f(x1))
    g = lambda f, x0, x1: f(x1) / (x1 - x0)

    output = (
        pd.DataFrame(
            [
                [x0, np.nan],
                [x1, np.nan]
            ],
            columns=["x_k", "e_k"]
        )
        .rename_axis("k")
    )
    k = 2
    converge = False
    while not converge:
        delta = f(x1) / (h(f, df, x0, x1) + g(f, x0, x1))
        x = x1 - delta
        error = np.abs(x - r)
        output.loc[k] = [x, error]
        if error < tol:
            converge = True
        else:
            x0 = x1
            x1 = x
            k += 1
    
    output = output.assign(ratio_ek=lambda x: x["e_k"] / x["e_k"].shift(1))
    return output

In [27]:
f_01c = lambda x: x + x ** 2 - x ** 2 * np.cos(x) - np.sin(x)
df_01c = lambda x: 1 + 2 * x - 2 * x * np.cos(x) + x ** 2 * np.sin(x) - np.cos(x)
x0_01c = 1
x1_01c = 2
r_01c = 0
tol_01c = 1e-7

q01c_method(f_01c, df_01c, x0_01c, x1_01c, r_01c, tol=tol_01c)

             x_k           e_k  ratio_ek
k
0   1.000000e+00           NaN       NaN
1   2.000000e+00           NaN       NaN
2   8.097670e-01  8.097670e-01       NaN
3   5.474946e-01  5.474946e-01  0.676114
4   3.407470e-01  3.407470e-01  0.622375
5   2.118389e-01  2.118389e-01  0.621690
6   1.290940e-01  1.290940e-01  0.609397
7   7.739885e-02  7.739885e-02  0.599554
8   4.575334e-02  4.575334e-02  0.591137
9   2.676796e-02  2.676796e-02  0.585049
10  1.555187e-02  1.555187e-02  0.580988
11  8.995909e-03  8.995909e-03  0.578445
12  5.189821e-03  5.189821e-03  0.576909
13  2.989341e-03  2.989341e-03  0.576001
14  1.720276e-03  1.720276e-03  0.575470
15  9.894381e-04  9.894381e-04  0.575162
16  5.689116e-04  5.689116e-04  0.574985
17  3.270570e-04  3.270570e-04  0.574882
18  1.879999e-04  1.879999e-04  0.574823
19  1.080603e-04  1.080603e-04  0.574789
20  6.210975e-05  6.210975e-05  0.574770
21  3.569809e-05  3.569809e-05  0.574758
22  2.051754e-05  2.051754e-05  0.574752
23  1.179244e-05  1.179244e-05  0.574749
24  6.777663e-06  6.777663e-06  0.574747
25  3.895378e-06  3.895378e-06  0.574738
26  2.238884e-06  2.238884e-06  0.574754
27  1.286926e-06  1.286926e-06  0.574807
28  7.394977e-07  7.394977e-07  0.574623
29  4.247859e-07  4.247859e-07  0.574425
30  2.445288e-07  2.445288e-07  0.575652
31  1.404612e-07  1.404612e-07  0.574416
32  8.172016e-08  8.172016e-08  0.581799

## Question 2

In [28]:
from scipy.special import factorial

### 2.a

In [30]:
def q02(x, fx0, tol=1e-8):

    output = pd.DataFrame(columns=["fx", "abs_error", "rel_error"]).rename_axis("k")

    converge = False
    fx = 0
    k = 0
    while not converge:
        fx += x ** k / factorial(k, exact=True)
        abs_error = np.abs(fx - fx0)
        rel_error = abs_error / fx0
        output.loc[k] = [fx, abs_error, rel_error]
        if rel_error <= tol:
            converge = True
        else:
            k += 1
    return output

In [31]:
x_02 = -10
tol_02 = 1e-5
fx0_02 = np.exp(-10) 
q02(x_02,fx0_02, tol_02)

             fx     abs_error     rel_error
k
0      1.000000  9.999546e-01  2.202547e+04
1     -9.000000  9.000045e+00  1.982392e+05
2     41.000000  4.099995e+01  9.030841e+05
3   -125.666667  1.256667e+02  2.767994e+06
4    291.000000  2.910000e+02  6.409701e+06
5   -542.333333  5.423334e+02  1.194569e+07
6    846.555556  8.465555e+02  1.864663e+07
7  -1137.571429  1.137571e+03  2.505668e+07
8   1342.587302  1.342587e+03  2.957245e+07
9  -1413.144621  1.413145e+03  3.112658e+07
10  1342.587302  1.342587e+03  2.957245e+07
11 -1162.623537  1.162624e+03  2.560849e+07
12   925.052162  9.250521e+02  2.037563e+07
13  -680.852222  6.808523e+02  1.499677e+07
14   466.222338  4.662223e+02  1.026923e+07
15  -298.494035  2.984941e+02  6.574770e+06
16   179.453698  1.794537e+02  3.952730e+06
17  -101.692027  1.016921e+02  2.239917e+06
18    54.500042  5.450000e+01  1.200442e+06
19   -27.706310  2.770636e+01  6.102731e+05
20    13.396866  1.339682e+01  2.950846e+05
21    -6.176075  6.176120e+00  1.360381e+05
22     2.720716  2.720671e+00  5.992677e+04
23    -1.147454  1.147499e+00  2.527535e+04
24     0.464284  4.642383e-01  1.022553e+04
25    -0.180411  1.804567e-01  3.974823e+03
26     0.067548  6.750292e-02  1.486851e+03
27    -0.024289  2.433398e-02  5.359915e+02
28     0.008510  8.464917e-03  1.864522e+02
29    -0.002800  2.845046e-03  6.266631e+01
30     0.000970  9.249416e-04  2.037320e+01
31    -0.000246  2.911834e-04  6.413741e+00
32     0.000134  8.885568e-05  1.957177e+00
33     0.000019  2.630767e-05  5.794650e-01
34     0.000053  7.563903e-06  1.666060e-01
35     0.000043  2.113690e-06  4.655712e-02
36     0.000046  5.745302e-07  1.265487e-02
37     0.000045  1.520158e-07  3.348371e-03
38     0.000045  3.918053e-08  8.630086e-04
39     0.000045  9.844168e-09  2.168322e-04
40     0.000045  2.412006e-09  5.312797e-05
41     0.000045  5.773048e-10  1.271598e-05
42     0.000045  1.344359e-10  2.961148e-06

### 2.b

### 2.c

## Question 3

### 3.a

In [ ]:
def muller_method(f, x0, x1, tol):
    pass

In [ ]:
def horner_method(coefs, tol):
    pass

### 3.b