[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/aoguedao/math685_numerical_analysis/blob/main/assignments/mid-term.ipynb)

# MATH685 - Mid Term Exam

_Alonso Ogueda_

In [4]:
import numpy as np
import pandas as pd

## Question 6

In [5]:
def fixed_point_method(g, x0, tol=1e-6):
    """Fixed  Point Method Solver

    To find a solution to x = g(x) given an initial approximation x0

    Parameters
    ----------
    g : function
        Function to evaluate
    x0: float
        First element
    tol: float, optional
        Tolerance, by default 1e-6
    """
    output = pd.DataFrame(columns=["x_k", "error"]).rename_axis("k")
    output.loc[0] = [x0, np.nan]
    k = 1
    converge = False
    while not converge:
        x = g(x0)
        abs_error = np.abs(x - x0)
        # print(f"Iteration {k:>3} - {x:>.10f} - Error: {abs_error:e}")
        output.loc[k] = [x, abs_error]
        if abs_error < tol:
            converge = True
        else:
            k += 1
            x0 = x
    return output

In [6]:
g6 = lambda x: np.log(2 * x + 1)
x0 = 1.5
tol = 1e-6
output_q6 = fixed_point_method(g6, x0, tol)
output_q6

         x_k         error
k
0   1.500000           NaN
1   1.386294  1.137056e-01
2   1.327761  5.853293e-02
3   1.296239  3.152229e-02
4   1.278842  1.739685e-02
5   1.269110  9.732356e-03
6   1.263624  5.486196e-03
7   1.260518  3.105923e-03
8   1.258755  1.762656e-03
9   1.257753  1.001716e-03
10  1.257184  5.697219e-04
11  1.256860  3.241719e-04
12  1.256675  1.845008e-04
13  1.256570  1.050229e-04
14  1.256510  5.978683e-05
15  1.256476  3.403670e-05
16  1.256457  1.937765e-05
17  1.256446  1.103217e-05
18  1.256440  6.280945e-06
19  1.256436  3.575947e-06
20  1.256434  2.035909e-06
21  1.256433  1.159114e-06
22  1.256432  6.599250e-07

In [7]:
# print(
#     output_q6.to_latex(
#         label="tab:q06",
#         caption="Fixed point method for $f(x)$ starting with the value $x_0 = 1.5$",
#         # float_format="%.10f"
#         formatters={"x_k": "{:0.10f}".format}
#     )
# )

## Question 8

### (a)

In [8]:
def newton_method(f, df, x0, tol=1e-8, iterations=1000):
    """Newton's Method Solver

    It finds a solution to f(x)=0 given an initial guess x0

    Parameters
    ----------
    f : function
        Function to evaluate
    df: function
        Derivate of the function 
    x0: float
        Initial guess
    tol: float, optional
        Tolerance, by default 1e-8
    iteration: int, optional
        Maximum number of iterations
    """
    output = pd.DataFrame(columns=["x_k", "difference"]).rename_axis("k")
    output.loc[0] = [x0, np.nan]
    
    k = 1
    converge = False
    while (not converge) and (k <= iterations):
        x = x0 - f(x0) / df(x0)
        difference = np.abs(x - x0)
        output.loc[k] = [x, difference]
        if difference < tol:
            converge = True
        else:
            x0 = x
        k += 1
    return output

In [9]:
tol=1e-6
f8 = lambda x: np.exp(2 * x) - 1 - 2 * x
df8 = lambda x: 2 * np.exp(2 * x) - 2
z = 0
x0 = 1
output_q8a = newton_method(f8, df8, x0, tol=1e-6)
output_q8a = output_q8a.assign(
    e_k=lambda x: x["x_k"].sub(z).abs(),
    ratio_e_k=lambda x: x["e_k"] / x["e_k"].shift(1)
)
output_q8a

             x_k    difference           e_k  ratio_e_k
k
0   1.000000e+00           NaN  1.000000e+00        NaN
1   6.565176e-01  3.434824e-01  6.565176e-01   0.656518
2   3.981118e-01  2.584058e-01  3.981118e-01   0.606399
3   2.251964e-01  1.729154e-01  2.251964e-01   0.565661
4   1.210220e-01  1.041744e-01  1.210220e-01   0.537406
5   6.294968e-02  5.807233e-02  6.294968e-02   0.520151
6   3.213511e-02  3.081457e-02  3.213511e-02   0.510489
7   1.623965e-02  1.589546e-02  1.623965e-02   0.505355
8   8.163781e-03  8.075874e-03  8.163781e-03   0.502707
9   4.092998e-03  4.070783e-03  4.092998e-03   0.501361
10  2.049291e-03  2.043707e-03  2.049291e-03   0.500682
11  1.025346e-03  1.023946e-03  1.025346e-03   0.500342
12  5.128480e-04  5.124976e-04  5.128480e-04   0.500171
13  2.564678e-04  2.563802e-04  2.564678e-04   0.500085
14  1.282449e-04  1.282230e-04  1.282449e-04   0.500043
15  6.412518e-05  6.411970e-05  6.412518e-05   0.500021
16  3.206328e-05  3.206191e-05  3.206328e-05   0.500011
17  1.603181e-05  1.603147e-05  1.603181e-05   0.500005
18  8.015946e-06  8.015863e-06  8.015946e-06   0.500003
19  4.007984e-06  4.007962e-06  4.007984e-06   0.500001
20  2.003990e-06  2.003994e-06  2.003990e-06   0.499999
21  1.001991e-06  1.001998e-06  1.001991e-06   0.499998
22  5.009765e-07  5.010147e-07  5.009765e-07   0.499981

In [10]:
# print(
#     output_q8a.to_latex(
#         label="tab:q08a",
#         caption="Newton  method for $f(x)$ starting with the value $x_0 = 1.5$",
#         # float_format="%.10f"
#         formatters={"x_k": "{:0.10f}".format, "e_k": "{:e}".format}
#     )
# )

### (b)

In [11]:
def modified_newton_method(f, df, x0, tol=1e-8, iterations=1000):
    """Newton's Method Solver

    It finds a solution to f(x)=0 given an initial guess x0

    Parameters
    ----------
    f : function
        Function to evaluate
    df: function
        Derivate of the function 
    x0: float
        Initial guess
    tol: float, optional
        Tolerance, by default 1e-8
    iteration: int, optional
        Maximum number of iterations
    """
    output = pd.DataFrame(columns=["x_k", "difference"]).rename_axis("k")
    output.loc[0] = [x0, np.nan]
    
    k = 1
    converge = False
    while (not converge) and (k <= iterations):
        x = x0 - 2 * f(x0) / df(x0)
        difference = np.abs(x - x0)
        output.loc[k] = [x, difference]
        if difference < tol:
            converge = True
        else:
            x0 = x
        k += 1
    return output

In [12]:
output_q8b = modified_newton_method(f8, df8, x0, tol=1e-6)
output_q8b = output_q8b.assign(
    e_k=lambda x: x["x_k"].sub(z).abs(),
    ratio_e_k=lambda x: x["e_k"] / x["e_k"].pow(2).shift(1)
)
output_q8b

            x_k    difference           e_k      ratio_e_k
k
0  1.000000e+00           NaN  1.000000e+00            NaN
1  3.130353e-01  6.869647e-01  3.130353e-01       0.313035
2  3.245229e-02  2.805830e-01  3.245229e-02       0.331176
3  3.510256e-04  3.210126e-02  3.510256e-04       0.333310
4  4.107307e-08  3.509846e-04  4.107307e-08       0.333334
5  1.026312e-09  4.004676e-08  1.026312e-09  608366.015461

In [13]:
# print(
#     output_q8b.to_latex(
#         label="tab:q08b",
#         caption="Modified Newton method for $f(x)$ starting with the value $x_0 = 1.5$",
#         formatters={"x_k": "{:0.10f}".format, "e_k": "{:e}".format}
#     )
# )

## Question 9

In [14]:
def modified_bisection_method(f, a, b, tol):
    """Modified Bisection Method

    Parameters
    ----------
    f : function
        f must be continuous, and f(a) and f(b) must have opposite signs.
    a: float
        Smallest interval value
    b: float
        Greatest interval value 
    tol : float
        Tolerance
    """

    # --- Step 0 ---
    k = 1
    ak, bk = a, b
    output = pd.DataFrame(columns=["x_k", "e_k"]).rename_axis("k")

    converges = False
    while not converges:
        # --- Step 1 ---
        ck = (ak + bk) / 2

        # --- Step 2 ---
        if f(ak) * f(ck) < 0:
            ak_aux, bk_aux = ak, ck
        elif f(ck) * f(bk) < 0:
            ak_aux, bk_aux = ck, bk
        else:
            raise ValueError("f(ak)f(ck) or f(ak)f(ck) must be a negative value.")

        # --- Step 3 ---
        fak_aux = f(ak_aux)
        fbk_aux = f(bk_aux)
        slope = (fbk_aux - fak_aux) / (bk_aux - ak_aux)
        y_intercept = - slope * ak_aux + fak_aux
        xk = - y_intercept / slope
        error = np.abs(f(xk))
        output.loc[k] = [xk, error]
        
        # --- Step 4 ---
        if np.abs(f(xk)) < tol:
            break
        else:
            if f(ak_aux) * f(xk) < 0:
                ak, bk = ak_aux, xk
            elif f(xk) * f(bk_aux) < 0:
                ak, bk = xk, bk_aux
            else:
                raise ValueError("f(ak_aux)f(xk) or f(xk)f(bk_aux) must be a negative value.")
        k += 1
    
    return output

In [15]:
a = -1
b = 1
tol = 1e-6
f9 = lambda x: np.cos(x) + x
output_q9a = modified_bisection_method(f9, a, b, tol)
output_q9a

        x_k           e_k
k
1 -0.685073  8.929928e-02
2 -0.737883  2.011096e-03
3 -0.739072  2.211929e-05
4 -0.739085  1.231519e-07

In [16]:
# print(
#     output_q9a.to_latex(
#         label="tab:q09a",
#         caption="Modified bisection method for $f(x)$ on the interval $[-1, 1]$",
#         formatters={"x_k": "{:0.10f}".format, "e_k": "{:e}".format}
#     )
# )

### (c)

In [17]:
df9 = lambda x: - np.sin(x) + 1
x0 = 0
output_q9c = newton_method(f9, df9, x0, tol)
output_q9c

        x_k    difference
k
0  0.000000           NaN
1 -1.000000  1.000000e+00
2 -0.750364  2.496361e-01
3 -0.739113  1.125098e-02
4 -0.739085  2.775753e-05
5 -0.739085  1.701234e-10

In [18]:
# print(
#     output_q9c.to_latex(
#         label="tab:q09c",
#         caption="Newton method for $f(x)$ starting with the value $x_0 = 0$",
#         formatters={"x_k": "{:0.10f}".format, "difference": "{:e}".format}
#     )
# )